
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #F0F4FF;
    overflow-x:hidden ;

}
header {
    height: 67px;
    display: flex;
    background-color: aqua;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;


}
header .logoContainer{
    padding: 20px 5px;
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    
}
header .seachContainer{
    width: 584px;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #F0F4FF;
    border-radius: 5px;
    cursor: pointer;

}
header .seachContainer .searchIcon{
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #646b7e;
}
header .seachContainer input
{
    height: 100%;
    outline: 0;
    border: 0;
    color: #000;
    font-size: 16px;
    flex: 1;
    background-color: transparent;

}
/* action bar  */
.actionBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 3px 0;
    cursor: pointer;
    flex: 3;
    

}
.actionElem{
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}
.actionElem span{
 padding: 0 5px;
}
.dropDownContent{
 
}
.loginDropDown{
    position: relative;
}
.loginDropDown .btnLogin{
    display: flex;
    align-items: center;
    justify-content: space-around;
   background-color: transparent;
   padding: 5PX 10px;
  height: 44px;
    width:  111px;
    border-radius: 10px;
    outline: 0;
    border: 0;

    z-index: 1;
}
.loginDropDown .btnLogin:hover{
   background-color: #005bb5;
   color: white;
   transform: scale(0.99);

}
.loginDropDown .btnLogin .arrow{
   transition: all 0.5s ease;
}
.loginDropDown .btnLogin .arrow:hover{
    transform: rotate(-180deg);
}

.btnLogin{
    display: flex;
    font-size: 16PX;
}
.dropDownContent{
   position: absolute;
   display: none;
   background-color: white;
   border-radius: 5px;
   top: 40px;
   
   flex-direction: column;
   width: 250px;
   padding: 20px 10px;
}
#linkDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
#linkDiv a{
    display: flex;
    align-items: center;
   padding: 2px 5px;
    font-size: 17px;
    text-decoration: none;
    color: #000;
}
#linkDiv a:hover{
  background-color: #F0F4FF;
}
.dropDownContent .signUp{
    display: flex;
    justify-content: space-between;
    align-items: center; height: 40px;
    font-size: 17px;
    padding-bottom: 20px;
    border-bottom: #cfcfcf solid 1px;
}
.dropDownContent .signUp #signUpText{
    color: blue;
    font-weight: bold;
}


/* catagory manu */

.CatagaoryContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
    height: 126px;
    padding: 10px 30px;
}
.CatagaoryContainer .catagaryType{
    display: flex;
    flex-direction: column;
    height: 126px;
    width: 130px;
    padding: 30px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.CatagaoryContainer .catagaryType span{
font-weight: 500;
margin-top: 5px;
text-align: center;
font-size: 16px;
text-wrap: nowrap;
}
.bannerContainer{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 100%;
    overflow: hidden;
    height: 221px;
    
}
.bannerContainer img{
    width: 100%;
}
.bestSmartPhone{
    background-color: transparent;
    display: flex;
    height: 359px
}
.bestSmartPhone .divProduct{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    overflow: hidden;

    margin-right: 10PX;
}
.divProduct .divHeading{
    padding-left: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.divImagesContainer{}
.divOfferImage{
    display: flex;
    height: 359px;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-left: 5PX;
    padding: 10PX 0;
    width: 209px;
    padding: 5px;
}
.divOfferImage img{

    height: 85%;
    width: auto;
   
}
.divImagesContainer{
    display: flex;
    padding: 5px;


}
.divImages{
    display: flex;
    flex-direction: column;
    background-color: #F0F4FF;
    align-items: center;
    justify-content: center;
    height: 256px;
    margin: 5px;
    overflow: hidden;
    min-width: 208px;
   

}
.divImages img{
    height: 186px;
    margin-bottom: 6px;
    
}
.divImages img:hover{
   transform: scale(.98);
    
}
.divImages span{
    padding: 3px;

}
.divImages .priceDN{
    font-weight: bold;
}
.dealPosters{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.dealPosters img{
   width: 32%;
   margin: 0.2%;
}

/* footter */
/* footer ki bari */
footer{
    background-color: #110b0b;
    height: 354px;
}
.footerBlocks{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.footerblockHeading{
    color: #878787;
    margin-bottom: 15px;
}
.mainFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 60px;
    
}
.footerBlocks a{
    color: white;
    text-decoration: none;
    padding: 5px 0px;
}
.footerBlocks a:hover{
    text-decoration: underline white;
}
.bottomFooter{
    height: 69px; 
    background-color:#110b0b ;
    border-top: 1px solid #878787;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bottomFooter div{
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;

}
.bottomFooter div span:first-child{
    color: yellow;
    font-size: 12px;
    margin-right: 5px;
}
.bottomFooter div span{
    cursor: pointer;
}
#Customer{
    border-left: 1px solid #878787; 
    padding-left: 30px;
}
/* scrollBar style */
::-webkit-scrollbar {
  width: 5px;
}

/* resoponsive */
@media (max-width: 600px){
.CatagaoryContainer{
display: none;

}
CatagaoryContainer .catagaryType{
    display: block;
}

header .logoContainer{
    display: block;
}
.bannerContainer{
    width: 100%;
    height: auto;
}
.bestSmartPhone .divOfferImage{ 
    display: none;

}
.bestSmartPhone .divImagesContainer{
    flex-direction: column;
    align-items: flex-start;
   
}
.bestSmartPhone .divImages{
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
    justify-content: flex-start;
    background-color: white;
    align-items: ;
    height: auto;
}
.bestSmartPhone{
    overflow: hidden;
    height: auto;
}
.bestSmartPhone .divImages img{
    height: 40px;
    width: 20px;
}

.dealPosters img{
    width: 48%;
    margin: 0.2%;
 }
 .dealPosters{
    overflow: hidden;
    justify-content: center;
    align-items: center;
 }

 header {
  width: 100%;
justify-content: flex-start;
    
}
.actionBar{
    flex: none;
}
header .seachContainer{
    display: none;
}

.seller, .threeDot,.cartText{
    display: none;
}
.logoContainer{
  width: 60%;
  justify-content: start;
}
footer{
    height: auto;
}

.mainFooter{
    flex-direction: column;
}
#Customer{
    border-left: 0;
    padding-left: 0px;
}
.footerBlocks{
    margin-top: 20px;
    
}
.footerBlocks a{
    font-size: 15px;
}
.bottomFooter{
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding-left: 30px;
}
.bottomFooter div{
    margin: 20px 10px;
}
b
}
  
